html{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
a{
	text-decoration: none;
}
.box1{
	padding-left: 100px;
	padding-right: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.box2{
	font-weight: bold;
}
.box3{
	display: flex;
}
span{
	padding-right: 15px;
}
.hes{
	color: rgb(71, 171, 130);
	font-size: 30px;
	font-weight: bold;
}
.alli{
	padding-right: 15px;
	color: black;
}
a.alli:hover{
	font-size: 15px;
	color: rgb(71, 171, 130);
}
.ppdb{
	padding-top: 15px;
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 15px;
	border-radius: 10px;
	border: none;
	font-weight: bold;
	background-color: rgb(71, 171, 130);
	color: white;
	cursor: pointer;
}
.ppdb:hover{
	background-color: lightgreen;
	align-items: center;
}
.backg{
	background-color: rgb(71, 171, 130);
	padding-top: 200px;
	padding-bottom: 200px;
}
.soe{
	color: white;
	text-align: center;
}